<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h4 class="page-header" style="color: #29088A">
                {{ @server->servername }}
            </h4>
        </div>
    </div>
    <div class="row">
        <check if="{{ @message }}">
            <div class="col-lg-12">                    
                <div class="alert alert-{{ @message['type'] }}">{{ @message['data'] }}</div>
            </div>
        </check>
      
        <div class="col-md-4 col-lg-3"><div>
            <div class="row">
                <div class="col-xs-6 col-md-12">
                    <div class="well" style="color: #FF0040">Baki RM: <B>{{ @me->saldo }}</B></div>
             </div>
                <div class="clearfix"></div>
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <b style="color: #8A0808">{{ @server->servername }}</b> {{ @server->active==1?'':'( Locked )'}}
                        </div>
                        <table class="table">
                            <tr>
                                <td style="color: #7401DF">Lokasi</td><td style="color: #0B610B">{{ @server->country }}</td>
                            </tr>
                            <tr>
                                <td style="color: #7401DF">Host</td><td style="color: #0B610B">{{ @server->host }}</td>
                            </tr>
                            <tr>
                                <td style="color: #7401DF">Harga RM</td><td style="color: #0B610B">{{ @server->price }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <font ><marquee direction="left" style="background:orange">Sudah Buat Akaun.....Sila beritahu pelanggan anda.....Tidak boleh 🚫 torrent, 🚫 hack, 🚫 speedtest, 🚫 mutilogin.....Terima Kasih</marquee></font>
              </div>
                <div class="panel-body">
                    <form role="form" action="{{ @URI }}" method="POST">
                        <div class="form-group">
                            <label style="color: #AEB404">Usernama</label>
                            <input class="form-control" placeholder="Taip nama pelanggan " name="user" type="text" required>
                        </div>
                        <div class="form-group">
                            <label style="color: #AEB404">Password baru</label>
                            <input class="form-control" placeholder="Taip password baru pelanggan" name="pass" type="password" required>
                        </div>
                        <div class="form-group">
                            <label style="color: #AEB404">Masukan Semula Password</label>
                            <input class="form-control" placeholder="Ulang password baru pelanggan" name="pass_confirmation" type="password" required>
                        </div>
                        <button class="btn btn-primary" style="color: #FFFFFF">Simpan</button>
                        <a href="/home/member/server" class="btn btn-default" style="color: #0B610B">Kembali</a>
                    </form>
              </div> 
          </div>
        </div>
    </div>
</div>
